body {
	padding: 0;
	margin: 0;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Satisfy', cursive;*/
}

.slide {
	width: 100%;
	height: 650px;
	background: url("../image/IMG_9751.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.slide:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
	border-top: 283px solid #000; 
	border-left: 723px solid transparent;
}

.slide:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: 0;
	border-bottom: 283px solid #000; 
	border-right: 723px solid transparent;
}

.slide-content {
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slide-content-header {
	z-index: 1;
	align-self: flex-end;
	color: #fff;
	text-align: end;
	position: relative;
}

.slide-content-header h1 {
	margin: 0;
	font-family: 'Satisfy', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 86px;
	color: #e3bf99;
}

.slide-content-header p {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	position: absolute;
	bottom: 2px;
	right: 0;
}

.social {
	z-index: 1;
	display: flex;
}

.social a {
	text-decoration: none;
	margin-right: 25px;
	position: relative;
	width: 45px;
	height: 45px;
	display: block;
}

.social a:last-child {
	margin-right: 0;
}

.social a svg {
	vertical-align: bottom;
	fill: #fff;
}

.social a:hover svg {
	vertical-align: bottom;
	fill: #e3bf99;
}

.tooltip {
	display: none;
	position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  text-align: center;
  border-radius: 3px;
  color: #000;
  padding: 5px 10px;
  box-sizing: border-box;
}

.tooltip:before {
	content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: calc(50% - 10px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
}

.social a:hover .tooltip {
	display: block;
}

.projects {
	padding: 0 30px;
	box-sizing: border-box;
}

.section-title {
	margin: 100px 0 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #e3bf99;
}

.projects .section-title {
	padding-top: 100px;
	box-sizing: border-box;
	margin-top: 0;
	border-top: 2px dotted #333333;
}

.projects-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 100px;
	border-bottom: 2px dotted #333333;
	box-sizing: border-box;
}

.projects-content a {
	width: calc((100% - 30px)/2);
	margin-top: 30px;
	text-decoration: none;
	position: relative;
}

.projects-content a:nth-child(1), .projects-content a:nth-child(2) {
	margin-top: 0;
}

.projects-content img {
	width: 100%;
}

.projects-content-background {
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 100%;
	left: 0;
	transition: all 0.3s ease 0s;
}

.projects-content-info {
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
  left: 50%;
  width: 100%;
}

.projects-content-info h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #e3bf99;
	margin: 0;
}

.projects-content-info p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #a9a8a8;
	margin: 0;
	font-style: italic;
}

.projects-content-info p.projects-content-info-technologies {
	margin-top: 20px;
	color: #fff;
	font-style: initial;
}

.projects-content a:hover .projects-content-info {
	display: flex;
}

.projects-content a:hover .projects-content-background {
	height: 100%;
	top: 0;
}

.section {
	padding: 0 30px;
	box-sizing: border-box;
}

.section-container {
	padding-bottom: 100px;
	box-sizing: border-box;
	border-bottom: 2px dotted #333333;
}

.section-list {
	margin: 0;
	list-style-type: none;
	padding-left: 34px;
	box-sizing: border-box;
}

.section-list li {
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 40px;
	position: relative;
}

.section-list li:last-child {
	margin-bottom: 0;
}

.section-list p {
	margin: 0;
}

.section-list i {
	color: #a9a8a8;
}

.section-list li:before {
	position: absolute;
	content: '';
	width: 12px;
	height: 2px;
	background-color: #a9a8a8;
	top: 10px;
	left: -28px;
}

.section-list span {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}

.nested-employment-list {
	padding-left: 25px;
	list-style-type: none;
}

.nested-employment-list li:before {
	position: absolute;
	content: '';
	width: 7px;
	height: 1px;
	background-color: #fff;
	top: 11px;
	left: -13px;
}

.nested-employment-list li {
	margin: 2px 0 0;
}

.skills li:before {
	background-color: #fff;
}

.skills li {
	margin-bottom: 10px;
}

.skills li:last-child {
	margin-bottom: 0;
}





.footer {
	width: 100%;
	padding: 100px 30px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}





@media screen and (max-width: 900px) {
  .slide:before, .slide:after, .slide-content .social {
  	display: none;
  }

  .slide {
  	margin-top: 146px;
  	background-position: center;
  }

  .slide-content {
  	position: relative; 	
  }

  .slide-content-header {
  	position: absolute;
  	top: -146px;
  	margin: 30px 0;
  	align-self: center;
  }
}




@media screen and (max-width: 700px) {
	.slide {
		height: 400px;
	}

	.projects-content a {
		width: 100%;
	}

	.projects-content a:nth-child(2) {
		margin-top: 30px;
	}

}


@media screen and (max-width: 450px) {
	.slide {
		height: 320px;
	}

	.slide-content-header h1 {
		font-size: 40px;
	}

	.slide-content-header p {
		font-size: 14px;
		bottom: 12px;
	}

	.projects-content-info h3 {
		font-size: 30px;
		line-height: initial;
	}

	.projects-content-info p.projects-content-info-technologies {
		margin-top: 12px;
	}

	.social a {
		margin-right: 18px;
		width: 30px;
		height: 30px;
	}

	.social a:last-child {
		margin-right: 0;
	}

	.social svg {
		width: 30px;
		height: 30px;
	}
}



	




