.container {
  max-width: 1000px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;

  @media screen and (max-width: 700px) {
    display: block;
    height: initial;
  }
}

.calculator {
  max-width: 550px;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: #8C8C8C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 55;

  @media screen and (max-width: 700px) {
    max-width: 100%;
    margin-top: 45px;
  }
}

.result {
  max-width: 450px;
  height: 100%;
  background-color: #2D0CF9;
  border-radius: 0 4px 4px 0;
  padding: 30px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 45;

  @media screen and (max-width: 700px) {
    max-width: 100%;
    border-radius: 0 0 4px 4px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0 0 80px;
}

.result .title {
  color: #FFFFFF;
}

.form {
  &-block {
    width: 100%;
    margin-bottom: 45px;
  
    &:last-child {
      margin-bottom: 0;
    }

    & p {
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 10px;
    }

    &-input {
      position: relative;
      width: 100%;

      & input {
        width: 100%;
        height: 42px;
        border: 2px solid #ECECEC;
        box-sizing: border-box;
        padding: 0 40px;
        border-radius: 4px;
        text-align: center;
        color: #000000;
        font-size: 24px;
        line-height: 28px;
      }

      & button {
        border: none;
        outline: none;
        font-size: 24px;
        line-height: 28px;
        color: #2E0CF9;
        padding: 0 15px;
        background: none;
        position: absolute;
        top: 0;
        height: 100%;
        cursor: pointer;

        &.btn-minus {
          left: 0px;
        }

        &.btn-plus {
          right: 0px;
        }
      }

      & button:hover {
        color: #341acc;
      }
    }
  }
}

.description {
  @media screen and (max-width: 700px) {
    margin-top: 45px;
  }
  
  & p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
}

.summary {

  &-block {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    &-label {
      font-size: 20px;
      line-height: 23px;
      margin: 0;
    }

    &-value {
      font-size: 48px;
      line-height: 56px;
      margin: 0;
    }
  }
}

.result {

  &-link {
    max-width: 240px;
    height: 70px;
    background: #ED1C24;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    line-height: 70px;

    @media screen and (max-width: 700px) {
      margin-top: 45px;
    }

    &:hover {
      background: #c1050c;
    }
  }
}