body {
	padding: 0;
	margin: 0;
	background-color: #FBFBFB;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	@media screen and (max-width: 700px) {
	  min-width: 303px;
	  height: initial;
	  padding: 40px 0;
	}
}
